*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
}

section{
	width: 5rem 10%;
}

.header{
	position: sticky;
	top: 0; right: 0; left:0;
	background:#46484d;
	box-shadow:0 .5rem 1rem rgb(0, 0, 0, .1);
	padding-bottom: 2rem;
	padding-top: 1rem;
	z-index:1000;
	height: 75px;
}

 .noir{
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: right;

}
.c{
	display:flex;
}
.c i{
	padding:7px;
	border-radius:50%;
	background-color:white;
	
}
.devenir-client{
	margin:7px 0 0 10px;
}
.contact{
	margin:7px 0 0 10px;
}

.lien{
	color:white;
	font-size:12px;
	
}

.noir .c{
	padding: 0 30px;
}
.header .noir .noir-d{
}

.blanc{
	position: absolute;
	padding:30px;
	justify-content: space-between;
	width: 100%;
	background: white;
	display: flex;
	flex-direction: row;
	text-align: right;
	height: 90px;

}
.blanc .nav-link{
	display: flex;
	align-items: center;
}
.blanc .A{
	color: black;
	display: flex;
	
}
.blanc .AP{
	color:black;
	display: flex;
	
}
.blanc .p{
	color:black;
	display: flex;

}
.blanc .r{
	color: black;
	display: flex;
	align-items: center;
}
.blanc .t{
	color:black;
	display: flex;
}
.blanc .ec{
	color:black;
	display: flex;
}

.sildes{
	background:#B4F0F3;
	height:400px;	
}
.sildes .element{
	margin-top: 130px;
	align-items: center;
	justify-content: space-between;
	float: right;
	
}
.sect{
	margin-top: 50px;

}
.parent{
	display: flex;
	align-items: center;


}
.barre{
	background-color: orange;
	height: 50px;
	width: 10px;
	margin-right: 30px;
}
.nos-produit{
	width: 30%;
	display: flex;
	position:absolute;
left: 40%;
	height:500px;


}
img{
	width:70%;
	height: 80%;
}	




